body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.navbar {
    background-color: #343a40;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-toggler {
    background-color: #ffffff;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav .nav-link {
    color: #070707 !important;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}

.nav-item.dropdown:hover .nav-link {
    color: #ffc107 !important;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #080808 !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.dropdown-item:hover {
    background-color: #ffc107;
    color: #ffc107 !important;
}

@media (max-width: 767px) {
    .navbar-nav {
        padding-top: 10px;
    }

    .navbar-toggler {
        margin-top: 5px;
    }
}

body.dark-mode {
    background-color: #111111; /* Dark background */
    color: #ffffff; /* Light text */
  }
  
  .navbar.dark-mode {
    background-color: #1c1c1c; /* Darker background for navbar */
    color: #ffffff; /* Light text for navbar links */
  }

.container{
   text-align: center;
    margin-top: 50px;

}
.container p{
    margin-top: 20px;
}

.container h2{
    font-family: 'Poppins', sans-serif;
    color: #ffc107;
    text-align: center;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
  }
  
.under {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
 }
  
  h2:hover.under {
    transform: scaleX(1);
  }

  .card{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 30px 0 10px;
    border-top-left-radius: 125px;
    font-size: 15px;
    width: 100%;
    
   }
  
   .row{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
   }
   .col{
    flex-basis: 25%;
    padding: 10px;
    margin-left: 25px;
   }
  
   .col h5{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #ccc;
   }
   .logo{
    width: 50px;
    margin-bottom: 30px;
   }
  
   ul li{
    list-style: none;
    margin-bottom: 12px;
   }
  
   ul li a{
     text-decoration: none;
     color: #fff;
   }
  
    form{
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
    }
    form .far{
      font-size: 18px;
      margin-right: 10px;
    }
  
    form input{
      width: 100%;
      background: transparent;
      color: #ccc;
      border: 0;
      outline: none;
    }
  
    form button{
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    form button .fas{
      font-size: 16px;
      color: #ccc;
    }
  
    .social-icons .fab{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;
      background-color: #131212;
      border-color: #090909;
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
    .social-icons img:hover {
      transform: scale(1.05);
    }
  
   .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
   } 
   .underline span{
    width: 15px;
    height: 100%;
    background: #e0d82e;
    border-radius: 3px;
    position: absolute;
    top: 5;
    left: 10px;
    animation: moving 2s linear infinite;
   }
   @keyframes moving{
    0%{
      left: -20px;
    }
   100%{
      left: 100%;
    }
   }
    .col p{
    font-size: 15px;
    /* line-height: 1; */
    color: #e1dddd;
   }
   .col email-id{
    width: fit-content;
    border-bottom: 1px soild #f90a0a;
    margin: 20px 0;
   }
   .col h6{
    color: #ccc;
   }
  
   .col h5{
    margin-left: 30px;
   }
  
   .col p{
     text-align:justify;
   }
  
  .copyright{
    text-align: center;
    padding-top: 30px;
    margin-left: 70px;
  } 