/* 
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */
  /* body{
        overflow: hidden;
        background: #eaeaea;
  } */
  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    /* overflow: hidden; */
  }

  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .video{
     position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: #eaeaea;
  }

  .navbar {
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark text */
  }
  
  /* Additional styles for light mode */
  
/* dark-mode.css */

/* Dark mode styles */
body.dark-mode {
    background-color: #111111; /* Dark background */
    color: #ffffff; /* Light text */
  }
  
  .navbar.dark-mode {
    background-color: #1c1c1c; /* Darker background for navbar */
    color: #ffffff; /* Light text for navbar links */
  }

  
  /* Additional styles for dark mode */


  
  
   /* ------------------------------------------------------------------- */
